* {
    box-sizing: border-box;
}

.navbar {
    overflow: auto;
    background-color: white;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: right;
    width: auto;
    padding: 20 px;
}

.navbar li a {
    display: block;
}
