* {
    box-sizing: border-box;
}

.navbar {
    background-color: white;
    padding: 1px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    overflow: hidden;
}

.navbar li {
    float: right;
}

.navbar li a {
    display: block;
    float: center;
    padding: 18px;
    color: black;
    font-size: 15px;
    background-color: white;
    text-decoration: none;
}

.navbar li a:hover {
    border-bottom: 2px solid #AF1B0C;
}
